vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Apr 2002 22:08:16 -0000
vti_extenderversion:SR|4.0.2.5322
vti_cacheddtm:TX|04 Apr 2002 22:08:16 -0000
vti_filesize:IR|27
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_backlinkinfo:VX|odig_asp/index_flash.asp
